In [34]:
import pandas as pd
import numpy as np

In [2]:
file_path = "D:/UMass/Spring20/688/Homework/Assignment1/Assignment1/Data/"
file_pre = "data"
file_ext = ".txt"
train_str = 'train'
test_str = 'test'
cols = ['A', 'G', 'CP', 'BP', 'CH', 'ECG', 'HR', 'EIA', 'HD']

In [3]:
df = pd.read_csv(file_path+'data-'+train_str+'-'+'1'+file_ext, delimiter=',', header=None)

In [4]:
df.columns = cols

In [5]:
df

     A  G  CP  BP  CH  ECG  HR  EIA  HD
0    3  2   4   2   2    2   1    2   2
1    3  2   4   1   2    2   1    2   2
2    1  2   3   2   2    1   2    1   1
3    1  1   2   2   2    2   2    1   1
4    3  2   2   1   2    1   2    1   1
..  .. ..  ..  ..  ..  ...  ..  ...  ..
238  2  2   1   1   2    1   1    1   2
239  3  2   4   2   1    1   1    1   2
240  3  2   4   2   1    1   1    2   2
241  3  1   2   2   2    2   2    1   2
242  1  2   3   2   1    1   2    1   1

[243 rows x 9 columns]

In [23]:
# P(A)
df.groupby('A').size()/len(df)

A
1    0.176955
2    0.308642
3    0.514403
dtype: float64

In [24]:
# P(G)
df.groupby('G').size()/len(df)

G
1    0.337449
2    0.662551
dtype: float64

In [25]:
# P(BP|G)
df.groupby(['G','BP']).size()/(len(df)*df.groupby('G').size()/len(df))

G  BP
1  1     0.365854
   2     0.634146
2  1     0.472050
   2     0.527950
dtype: float64

In [29]:
# P(CH|G,A)
df.groupby(['CH', 'G', 'A']).size()/(len(df)*(df.groupby(['G','A']).size()/len(df)))

G  A  CH
1  1  1     0.214286
      2     0.785714
   2  1     0.142857
      2     0.857143
   3  1     0.106383
      2     0.893617
2  1  1     0.275862
      2     0.724138
   2  1     0.166667
      2     0.833333
   3  1     0.166667
      2     0.833333
dtype: float64

In [30]:
# P(HD|BP,CH)
df.groupby(['HD', 'BP', 'CH']).size()/(len(df)*(df.groupby(['BP','CH']).size()/len(df)))

BP  CH  HD
1   1   1     0.526316
        2     0.473684
    2   1     0.586207
        2     0.413793
2   1   1     0.590909
        2     0.409091
    2   1     0.513043
        2     0.486957
dtype: float64

In [32]:
# P(CP|HD)
df.groupby(['HD', 'CP']).size()/(len(df)*(df.groupby(['HD']).size()/len(df)))

HD  CP
1   1     0.067669
    2     0.263158
    3     0.421053
    4     0.248120
2   1     0.054545
    2     0.072727
    3     0.109091
    4     0.763636
dtype: float64

In [33]:
# P(EIA|HD)
df.groupby(['HD', 'EIA']).size()/(len(df)*(df.groupby(['HD']).size()/len(df)))

HD  EIA
1   1      0.887218
    2      0.112782
2   1      0.418182
    2      0.581818
dtype: float64

In [34]:
# P(ECG|HD)
df.groupby(['HD', 'ECG']).size()/(len(df)*(df.groupby(['HD']).size()/len(df)))

HD  ECG
1   1      0.593985
    2      0.406015
2   1      0.418182
    2      0.581818
dtype: float64

In [35]:
# P(HR|A,HD)
df.groupby(['A', 'HD', 'HR']).size()/(len(df)*(df.groupby(['A','HD']).size()/len(df)))

A  HD  HR
1  1   1     0.060606
       2     0.939394
   2   1     0.600000
       2     0.400000
2  1   1     0.173077
       2     0.826923
   2   1     0.521739
       2     0.478261
3  1   1     0.333333
       2     0.666667
   2   1     0.571429
       2     0.428571
dtype: float64

In [37]:
p1 = df.groupby(['A', 'HD', 'HR']).size()/(len(df)*(df.groupby(['A','HD']).size()/len(df)))

In [45]:
p1[1][1]

HR
1    0.060606
2    0.939394
dtype: float64

## Model

In [35]:
# Given
nodes = ['A','G','BP','CH','HD','CP','EIA','ECG','HR']
# edges = [('G','BP'),('G','CH'),('A','CH'),('A','HR'),('BP','HD'),('CH','HD'),('HD','CP'),('HD','EIA'),('HD','ECG'),('HD','HR')]
edges = [('G', 'BP'), ('G', 'CH'), ('G', 'HD'), ('A', 'BP'), \
             ('A', 'CH'), ('BP', 'HD'), ('CH', 'HD'), ('CH', 'HR'), \
             ('HD', 'CP'), ('HD', 'EIA'), ('HD', 'ECG'), ('HD', 'HR'), \
             ('EIA', 'CP'), ('HR', 'ECG'), ('HR', 'EIA')]

In [36]:
# init parents
parents = {}
for n in nodes:
    if n not in parents.keys():
        parents[n] = []

In [37]:
# get parents
for e in edges:
    parents[e[1]].append(e[0])    
parents

{'A': [],
 'G': [],
 'BP': ['G', 'A'],
 'CH': ['G', 'A'],
 'HD': ['G', 'BP', 'CH'],
 'CP': ['HD', 'EIA'],
 'EIA': ['HD', 'HR'],
 'ECG': ['HD', 'HR'],
 'HR': ['CH', 'HD']}

In [38]:
cpt_list = []
for p in parents.keys():
    P = parents[p]
    if len(P) == 0:
        cpt_list.append(p)
    else:
        cpt_list.append(p+'~'+(",".join(P)))
cpt_list

['A',
 'G',
 'BP~G,A',
 'CH~G,A',
 'HD~G,BP,CH',
 'CP~HD,EIA',
 'EIA~HD,HR',
 'ECG~HD,HR',
 'HR~CH,HD']

In [39]:
def get_cpt(inp, cpt):
    ser = None
    if '~' not in cpt:
        ser = inp.groupby(cpt).size()/len(inp)
    else:
        nd, par = cpt.split('~')
        pars = par.split(',') if ',' in par else [par]
        ser = df.groupby([nd]+pars).size()/(len(df)*(df.groupby(pars).size()/len(df)))
    return ser

In [11]:
get_cpt(df, 'HR~A,HD')

A  HD  HR
1  1   1     0.060606
       2     0.939394
   2   1     0.600000
       2     0.400000
2  1   1     0.173077
       2     0.826923
   2   1     0.521739
       2     0.478261
3  1   1     0.333333
       2     0.666667
   2   1     0.571429
       2     0.428571
dtype: float64

In [40]:
params = {}
for cpts in cpt_list:
    params[cpts] = get_cpt(df, cpts)

In [41]:
params

{'A': A
 1    0.176955
 2    0.308642
 3    0.514403
 dtype: float64, 'G': G
 1    0.337449
 2    0.662551
 dtype: float64, 'BP~G,A': G  A  BP
 1  1  1     0.714286
       2     0.285714
    2  1     0.380952
       2     0.619048
    3  1     0.255319
       2     0.744681
 2  1  1     0.551724
       2     0.448276
    2  1     0.592593
       2     0.407407
    3  1     0.358974
       2     0.641026
 dtype: float64, 'CH~G,A': G  A  CH
 1  1  1     0.214286
       2     0.785714
    2  1     0.142857
       2     0.857143
    3  1     0.106383
       2     0.893617
 2  1  1     0.275862
       2     0.724138
    2  1     0.166667
       2     0.833333
    3  1     0.166667
       2     0.833333
 dtype: float64, 'HD~G,BP,CH': G  BP  CH  HD
 1  1   1   1     0.750000
            2     0.250000
        2   1     0.923077
            2     0.076923
    2   1   1     0.857143
            2     0.142857
        2   1     0.644444
            2     0.355556
 2  1   1   1     0.466667
            2     0.533333
        2   1     0.442623
            2     0.557377
    2   1   1     0.466667
            2     0.533333
        2   1     0.428571
            2     0.571429
 dtype: float64, 'CP~HD,EIA': HD  EIA  CP
 1   1    1     0.076271
          2     0.279661
          3     0.423729
          4     0.220339
     2    2     0.133333
          3     0.400000
          4     0.466667
 2   1    1     0.108696
          2     0.152174
          3     0.173913
          4     0.565217
     2    1     0.015625
          2     0.015625
          3     0.062500
          4     0.906250
 dtype: float64, 'EIA~HD,HR': HD  HR  EIA
 1   1   1      0.814815
         2      0.185185
     2   1      0.905660
         2      0.094340
 2   1   1      0.258065
         2      0.741935
     2   1      0.625000
         2      0.375000
 dtype: float64, 'ECG~HD,HR': HD  HR  ECG
 1   1   1      0.555556
         2      0.444444
     2   1      0.603774
         2      0.396226
 2   1   1      0.451613
         2      0.548387
     2   1      0.375000
         2      0.625000
 dtype: float64, 'HR~CH,HD': CH  HD  HR
 1   1   1     0.217391
         2     0.782609
     2   1     0.777778
         2     0.222222
 2   1   1     0.200000
         2     0.800000
     2   1     0.521739
         2     0.478261
 dtype: float64}

In [14]:
(params['HD~BP,CH'][1][2])*(params['CP~HD'][1] + params['CP~HD'][2])

HD
1    0.193933
2    0.052665
dtype: float64

In [15]:
params['HR~A,HD']

A  HD  HR
1  1   1     0.060606
       2     0.939394
   2   1     0.600000
       2     0.400000
2  1   1     0.173077
       2     0.826923
   2   1     0.521739
       2     0.478261
3  1   1     0.333333
       2     0.666667
   2   1     0.571429
       2     0.428571
dtype: float64

In [27]:
params['HR~A,HD'].reorder_levels([0,2,1])

A  HR  HD
1  1   1     0.060606
   2   1     0.939394
   1   2     0.600000
   2   2     0.400000
2  1   1     0.173077
   2   1     0.826923
   1   2     0.521739
   2   2     0.478261
3  1   1     0.333333
   2   1     0.666667
   1   2     0.571429
   2   2     0.428571
dtype: float64

In [17]:
params['CP~HD'][1].idxmax()

1

In [19]:
Pos = {'A':0, 'G':1, 'BP':2, 'CH':1, 'CP':2, 'EIA':1, 'ECG':1, 'HR':1, 'HD':2}

In [21]:
params['CP~HD'][Pos['CP']]

HD
1    0.263158
2    0.072727
dtype: float64

In [22]:
p5 = params['HR~A,HD']

In [24]:
type(p5)

pandas.core.series.Series

In [25]:
None is None

True

In [33]:
params['CH~G,A']

G  A  CH
1  1  1     0.214286
      2     0.785714
   2  1     0.142857
      2     0.857143
   3  1     0.106383
      2     0.893617
2  1  1     0.275862
      2     0.724138
   2  1     0.166667
      2     0.833333
   3  1     0.166667
      2     0.833333
dtype: float64

In [45]:
params['HR~CH,HD'].reorder_levels([1,2,0])

HR  ECG  HD
1   1    1     0.555556
    2    1     0.444444
2   1    1     0.603774
    2    1     0.396226
1   1    2     0.451613
    2    2     0.548387
2   1    2     0.375000
    2    2     0.625000
dtype: float64